.application {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(148, 143, 143);
  padding-bottom: 2rem;
}

.bazar,
.simulator {
  margin-right: 1rem;
}

.application-description {
  color: white;
  padding-right: 1rem;
  font-size: 0.93rem;
  font-weight: 500;
}

.application-download-btns {
  margin-left: 1rem;
  display: flex;
  gap: 1rem;
}

.application-download-btn {
  background-color: black;
  border: none;
  border-radius: 7px;
}

@media (max-width: 1200px) {
  .application {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .application-download-btns {
    margin-top: 1.75rem;
  }
}

@media (max-width: 768px) {
  .application-download-btn {
    width: 8rem;
  }

  .application-download-img {
    width: 100%;
  }
}

@media (max-width: 618px) {
  .application-download-btns {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .application-download-btn {
    width: 10rem;
  }

  .application-download-img {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .application-description {
    font-size: 0.83rem;
  }

  

}
